on: [push, pull_request]
name: Continuous Integration
jobs:
  build:
    name: Continuous Integration
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - uses: mymindstorm/setup-emsdk@v14
        with: { version: "3.1.71" }
      - run: npm ci
      - name: build
        run: npm run build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: highs-wasm-build
          path: |
            build/highs.wasm
            build/highs.js
      - name: test
        run: npm test
